#logo {

    width: 90px;
}

.colorCabecera{
    background: linear-gradient(0deg, rgb(22, 113, 158), rgb(37, 91, 185) 25%, rgb(11, 43, 97)) !important;
}

/*rgb(15, 92, 192) POSIBLE COLOR*/

.anchoImgCarousel {
    position: relative;
}

.anchoImgCarousel img {
    width: 100%;
    max-height: 80vh;
    object-fit: cover;
}

.anchoImgCarousel .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}


.pimg {
    background-image: url(../assets/img/paralax.jpg);
    min-height: 400px;
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.CustomBorder{
    border: solid rgb(18, 92, 153) 1px;
}

.colorBoton{
    background-color: rgb(22, 113, 158)6;
}

.colorBoton:hover{
   color: #fff;
   background-color: rgb(17, 71, 165);
   border-color: #1661ad;
}